* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: 0 0 1rem #000;
	text-align: center;
	padding: 1rem 0;
	animation-name: title_anim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	z-index: 50;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #BE3C3A;
  padding: 3px;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.fa {
  width: 25px;
}

form button {
  border: none;
  height: 90%;
  padding: 10px;
  border-radius: 50%;
}

#messages {
  list-style-type: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

#messages li {
  padding-top: 18px;
  padding-left: 10px;
  height: 50px;
}

#messages li:nth-child(odd) {
  background: #FFFFFF;
}

.nameInput {
	top: 0; width: 100%; height: 50px; background-color: #BE3C3A;
}

.nameInput input {
	top: 0; width: 300px; height: 30px; margin-top: 5px; background-color: white; border-radius: 8px;
}

.nameInput button {
  padding: 6px;
}

.sendchat {
  padding-left: 5%;
  width: 100%:
}

.numUsers {
  float: right;
  display: inline;
  background-color: transparent;
  color: white;
  margin: 10px 10px 0 0;
}

.numUsers i {
  background-color: transparent;
}

/* Giphs */

main {
	display: flex;
	flex-direction: row;
	line-height: 1;
  float: right;
}

main video {
	z-index: 100;
	position: absolute;
  right: 0;
  float: right;
}

main #mosaic {
	flex: auto;
	z-index: 1;
}

#mosaic img {
	vertical-align: bottom;
}
